*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(47,150,163),rgb(245, 246, 247));
    font-family: sans-serif;
    color: whitesmoke;
}

.location,.temperature{
    height:30vh;
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature
{
    flex-direction: column;
}
.degree-section
{
    display: flex;
    align-items: center;
    cursor: pointer;

}
.degree-section span{
    margin-left: 10px;
    font-size: 20px;

}


.temperature h2{
    font-size: 40px;
}


img{
    background: linear-gradient(white,whitesmoke);
    width:50px;
    height: 50px;
    background-position: center;
    background-attachment: fixed;
    border-radius: 50%;
}